.container-1, .container-2{
  border: 2px solid black;
padding: 20px;
text-align: center;
}

.flex-container-1, .flex-container-2{

  padding: 2px;
  display: flex;
  justify-content: space-around;
}


.flex-items, #generateImage{
  display: flex;
  justify-content: center;
  align-items: center ;

}

#generateImage{
 justify-content: space-around ;
 flex-wrap: wrap;
 
 

}

img{
  box-shadow: 5px 10px 50px rgba(0,0,0,0.7);
  margin: 10px ;
}

#imgMouseEnter{
transform: scale(2);
  display: flex;
  justify-content :center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: auto;
  left: auto;
  z-index: 100;
}